{% extends "base.html" %}
{% block style %}
    <style>

        .content-left{
            width: 200px;
            float: left;
        }
        .content-right{
            width: 500px;
            height: 500px;
            float: left;
        }
        .content-host{
            width: 200px;
            height: 800px;
            overflow: auto;
        }
        .cmd-message{
            {#display: none;#}
            width: 1000px;
            height: 900px;
            {#background-color: red;#}
            overflow: auto;
        }
    </style>
{% endblock %}
{% block body %}
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{request.session.username}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="#">账户信息<span class="sr-only">(current)</span></a></li>
            <li><a href="https://v3.bootcss.com/examples/dashboard/#">账信息</a></li>
            <li><a href="https://v3.bootcss.com/examples/dashboard/#">Analytics</a></li>
            <li><a href="/rule?page=1">日志监控</a></li>
            <li  class="active"><a href="/multi_cmd.html">批量执行</a></li>
            <li><a href="/multi_file.html">批量上传</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block content %}
                <div class="content">
                <form class="cmd_from">
                     <div class="content-left">
                        <dic>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-primary" id="btn_cheakall">全选</button>

                            <!-- Indicates a successful or positive action -->
                            <button type="button" class="btn btn-success" id="btn_reverse">反选</button>
                        </dic>
                        <div class="content-host">
                            {% for group,values in host_dic.items %}
                                <div style="font-size: large">{{ group }}</div>
                                {% for host in values %}
                                <p><input type="checkbox" name="host" value={{ host.host_id }}>{{ host.host_name }}:{{ host.ip_addr }}</p>
                                    {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="content-right">
                        <div>输入
                            <input type="text" name="cmd" placeholder="cmd">
                            <input id="Account" name="host_list" style="display: none">
                        </div>
                            <div class="alert alert-warning alert-dismissible" role="alert" style="display: none">
                              <button type="button" class="close" aria-label="Close"><span class="cancel-warning">&times;</span></button>
                              <strong>Warning!</strong> 当前命令未执行完成，如要放弃，请点击断开按钮.
                            </div>
                            <div style="margin-top: 10px">
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-primary" id="btn_cmd">执行</button>

                            <!-- Indicates a successful or positive action -->
                            <button type="button" class="btn btn-warning" id="btn_break">断开</button>
                            <!-- Indicates a successful or positive action -->
                            <button type="button" class="btn btn-success" id="btn_result">获取结果</button>
                        </div>
                        <div class="cmd-message">

                        </div>
                        <div>

                        </div>
                    </div>
                </form>
                </div>
                {% endblock %}
        </div>
      </div>
    </div>
  </body>
{% endblock %}
{% block script %}
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            bindcheakall();
            bindreverse();
            bindcmdevent();
            bindresult();
            bindcancelwarning();
            bindbreak();
        });
        function bindcheakall() {
            $('#btn_cheakall').click(function () {
                $('.content-host :checkbox').prop('checked',true);
            });
        }
        function bindreverse() {
            $('#btn_reverse').click(function () {
                $('.content-host :checkbox').each(function () {
                    if($(this).prop('checked')){
                        $(this).prop('checked',false);
                    } else {
                        $(this).prop('checked',true);
                    }
                })
            })
        }
        var result_task = null;
        function bindcmdevent() {
            $('#btn_cmd').click(function () {
                if (result_task != null){
                    $('.alert-dismissible').css('display','block');
                    return
                }
                $('.msg-error').remove();
                $('.cmd-message').children('div').remove();
                $('#Account').val($('input[type=checkbox]:checked').map(function(){return this.value}).get().join(','));
                var data = $('.cmd_from').serialize();
                $.ajax({
                    url:'/multi_cmd.html',
                    method:'POST',
                    data:data,
                    dataType:'JSON',
                    success:function (req) {
                        if(req.status){
                            result_task = req.message;
                            result_time = setInterval(bindresult,2000);
                        }else {
                            var tag = document.createElement('div');
                            tag.innerHTML=req.error;
                            tag.style.color='red';
                            tag.className='msg-error';
                            $('.cmd-message').prepend(tag);
                        }

                    }
                })
            })
        }

        function bindresult() {
            $.ajax({
                url:'/multi_task_result.html',
                method:'POST',
                data:{task_id:result_task},
                dataType:'JSON',
                success:function (req) {
                    if(req.status){
                        $('.cmd-message').children('div').remove();
                        $('.cmd-message').attr('display','block');
                        for (var key in req.message){
                            console.log(req.message[0]['result']);
                            var tagip = document.createElement('div');
                            tagip.innerHTML=req.message[key]['ip'];
                            tagip.style.color='red';
                            $('.cmd-message').append(tagip);
                            var tagresult = document.createElement('div');
                            tagresult.innerText=req.message[key]['result'];
                            $('.cmd-message').append(tagresult);
                            clearInterval(result_time);
                            result_task = null;
                        }
                    }else {

                    }
                }
            })
        }
        function bindcancelwarning() {
            $('.cancel-warning').click(function () {
                $('.alert-dismissible').css('display','none');
            })
        }

        function bindbreak() {
            $('#btn_break').click(function () {
                $('.msg-error').remove();
                $.ajax({
                    url:'/multi_task_cancel.html',
                    method:'POST',
                    data:{task_id:result_task},
                    dataType:'JSON',
                    success:function (req) {
                        if(req.status){
                            var tag = document.createElement('div');
                            tag.innerHTML=req.message;
                            tag.style.color='red';
                            tag.className='msg-error';
                            $('.cmd-message').prepend(tag);
                            clearInterval(result_time);
                            result_task = null;
                        }else {
                            var tag = document.createElement('div');
                            tag.innerHTML=req.error;
                            tag.style.color='red';
                            tag.className='msg-error';
                            $('.cmd-message').prepend(tag);
                        }
                    }
                })
            })

        }

    </script>
{% endblock %}