{% extends "base.html" %}
{% block style %}
    <style>

        .content-left{
            width: 200px;
            float: left;
        }
        .content-right{
            width: 500px;
            height: 500px;
            float: left;
        }
        .content-host{
            width: 200px;
            height: 800px;
            overflow: auto;
        }
        .cmd-message{
            {#display: none;#}
            width: 1000px;
            height: 900px;
            {#background-color: red;#}
            overflow: auto;
        }
    </style>
{% endblock %}
{% block body %}
  <body>
     <form class="form-inline" style="margin: 10px" id="rlue_edit">
         <input type="text" class="form-control" id="exampleInputEmail2" name="rule_id" value="{{ rule_list.rule_id }}" style="display: none">
       <div class="form-group" >
        <label for="exampleInputEmail2">规则名称</label>
        <input type="text" class="form-control" id="exampleInputEmail2" name="rule_name" value="{{ rule_list.rule_name }}">
      </div>
     <div style="margin-top: 10px">
           <div class="form-group">
            <label for="exampleInputName2">规则描述</label>
               <input type="text" id="rule_time" value="{{ rule_list.rule_time }}" style="display: none">
            <select style="height: 30px" name="rule_time" class="rule-time">
                <option value="5">5分钟</option>
                <option value="10">10分钟</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">内</label>
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="规则描述,多字段用','分开" name="rule_content" value="{{ rule_list.rule_content }}">
          </div>
            <input type="text" id="rule_condtion" value="{{ rule_list.rule_condtion }}" style="display: none">
             <select style="height: 30px" name="rule_condtion" class="rule-condtion">
                <option value="lt"><</option>
                <option value="gt">> </option>
            </select>
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail2" placeholder="阈值,请输入数字" name="rule_price" onkeyup="value=value.replace(/[^\d]/g,'')" value="{{ rule_list.rule_price }}">
          </div>

     </div>
         <div style="margin-top: 100px">
               <button type="button" class="btn btn-primary" id="btn_submit">提交</button>
                <button type="button" class="btn btn-success" id="btn_cancel">取消</button>
         </div>
    </form>
     <table class="table">
        <thead>
            <th>规则名称</th>
            <th>统计结果</th>
            <th>是否报警</th>
            <th>统计时间</th>
        </thead>
        <tbody>
            {% for dic in rule_result_dict %}
                <tr>
                    <td>{{ dic.rule_name }}</td>
                    <td>{{ dic.result }}</td>
                    <td>{{ dic.warning }}</td>
                    <td>{{ dic.gmt_create }}</td>
                </tr>
            {% endfor %}
        </tbody>
     </table>
  </body>
{% endblock %}
{% block script %}
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/bootstrap-select.min.js"></script>
    <script>
        $(function () {
            bindcancelevent();
            bindsubmitevent();
        });
        $('.rule-time option').each(function () {
            var rule_time = $(this).val();
            var rule_time_selected = $('#rule_time').val();
            if (rule_time == rule_time_selected){
                $(this).attr('selected',true);
            }

        });
        $('.rule-condtion option').each(function () {
            var rule_condtion = $(this).val();
            var rule_condtion_selected = $('#rule_condtion').val();
            if (rule_condtion == rule_condtion_selected){
                $(this).attr('selected',true);
            }

        });
        function bindcancelevent() {
            $('#btn_cancel').click(function () {
                window.location.href='/rule?page=1'
            })
        }
        function bindsubmitevent() {
            $('#btn_submit').click(function () {
                var data= $('#rlue_edit').serialize();
                $.ajax({
                    url:'/rule/ID',
                    method:'POST',
                    data:data,
                    dataType:'JSON',
                    success:function (req) {
                        if (req.status){
                            window.location.href='/rule?page=1'
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}